.form {
  width: 100%;
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
}

.url {
  margin-right: 20px;
}

.submit {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border-radius: 22px;
  padding: 5px 40px;
  background: transparent;
  border-style: solid;
  border-color: white;
  color: #003298;
  background-color: white;
  text-transform: uppercase;
}

.submit:hover {
  color: white;
  background: #003298;
  border-color: #003298;
  transition: all 0.2s linear;
}

.result {
  color: white;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.link {
  margin-right: 20px;
}

.copy {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border-radius: 22px;
  padding: 5px 35px;
  background: transparent;
  border-style: solid;
  border-color: white;
  color: #003298;
  background-color: white;
  text-transform: uppercase;
}

.copy:hover {
  color: white;
  background: #003298;
  border-color: #003298;
  transition: all 0.2s linear;
}
