.form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  z-index: 2;
}

.url {
  width: 100%;
  padding: 0.5rem;
  font-size: 16px;
  margin: 0.5rem;
  border-radius: 4px;
}

.submit {
  outline: none;
  border-radius: 22px;
  background: transparent;
  border-style: solid;
  border-color: white;
  color: #003298;
  background-color: white;
  text-transform: uppercase;
  width: 150px;
  padding: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.submit:hover {
  color: white;
  background: #003298;
  border-color: #003298;
  transition: all 0.2s linear;
}

.result {
  composes: form;
}

.link {
  composes: url;
  color: white;
  font-size: 18px;
  text-decoration: underline;
  font-family: monospace;
}

.copy {
  composes: submit;
}

.error {
  color: yellow;
  margin: auto;
}

.loading {
  color: white;
}
