/* This file is for your main application CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
.main {
  background-color: #0040c1;
}

/* Form */
.form {
  width: 100%;
  max-width: 950px;
  display: block;
  z-index: 2;
}

.input {
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  z-index: 2;
}

.url {
  width: 60%;
  padding: 0.5rem;
  font-size: 16px;
  margin: 0.5rem;
  border-radius: 4px;
}
.wrapper {
  width: 40%;
  max-width: 950px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}
.slug {
  width: 40%;
  padding: 0.5rem;
  font-size: 16px;
  margin: 0.5rem;
  border-radius: 4px;
}
.submit {
  outline: none;
  border-radius: 22px;
  background: transparent;
  border-style: solid;
  border-color: white;
  color: #003298;
  font-size: 14px;
  background-color: white;
  text-transform: uppercase;
  width: 150px;
  padding: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.submit:hover {
  color: white;
  background: #003298;
  border-color: #003298;
  transition: all 0.2s linear;
}
@media only screen and (max-width: 960px) {
  .form {
    flex-wrap: wrap;
  }
  .input {
    flex-wrap: wrap;
  }
  .result {
    flex-wrap: nowrap;
  }
  .url {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
  .slug {
    width: 100%;
  }
}
.result {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.4rem;
  z-index: 2;
}
.link {
  width: 40%;
  padding: 0.5rem;
  font-size: 16px;
  margin: 0.5rem;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-size: 18px;
  text-decoration: underline;
  font-family: monospace;
}
.copy {
  outline: none;
  border-radius: 22px;
  background: transparent;
  border-style: solid;
  border-color: white;
  color: #003298;
  background-color: white;
  text-transform: uppercase;
  width: 150px;
  padding: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.copy:hover {
  color: white;
  background: #003298;
  border-color: #003298;
  transition: all 0.2s linear;
}
.errors {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem;
  z-index: 2;
}
.error {
  color: yellow;
  margin: auto;
}

/* Cubes */

@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}
.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #0040c1;
  overflow: hidden;
}
.background li {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 10px;
  height: 10px;
  border: solid 1px #0039ad;
  color: transparent;
  transform-origin: top left;
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: cube 16s ease-in forwards infinite;
}
.background li:nth-child(0) {
  animation-delay: 0s;
  left: 21vw;
  top: 55vh;
  border-color: #0046d4;
}
.background li:nth-child(1) {
  animation-delay: 1s;
  left: 8vw;
  top: 64vh;
}
.background li:nth-child(2) {
  animation-delay: 2s;
  left: 91vw;
  top: 7vh;
}
.background li:nth-child(3) {
  animation-delay: 4s;
  left: 11vw;
  top: 67vh;
  border-color: #0046d4;
}
.background li:nth-child(4) {
  animation-delay: 5s;
  left: 44vw;
  top: 44vh;
  border-color: #0046d4;
}
.background li:nth-child(5) {
  animation-delay: 8s;
  left: 40vw;
  top: 83vh;
  border-color: #0046d4;
}
.background li:nth-child(6) {
  animation-delay: 9s;
  left: 36vw;
  top: 90vh;
  border-color: #0046d4;
}
.background li:nth-child(7) {
  animation-delay: 10s;
  left: 4vw;
  top: 40vh;
  border-color: #0046d4;
}
.background li:nth-child(8) {
  animation-delay: 12s;
  left: 57vw;
  top: 85vh;
  border-color: #0046d4;
}
.background li:nth-child(9) {
  animation-delay: 14s;
  left: 64vw;
  top: 17vh;
}
.background li:nth-child(10) {
  animation-delay: 16s;
  left: 1vw;
  top: 88vh;
}
.background li:nth-child(11) {
  animation-delay: 18s;
  left: 98vw;
  top: 37vh;
  border-color: #0046d4;
}
.background li:nth-child(12) {
  animation-delay: 20s;
  left: 81vw;
  top: 65vh;
}
.background li:nth-child(13) {
  animation-delay: 22s;
  left: 92vw;
  top: 45vh;
  border-color: #0046d4;
}
.background li:nth-child(14) {
  animation-delay: 24s;
  left: 78vw;
  top: 53vh;
  border-color: #0046d4;
}
.background li:nth-child(15) {
  animation-delay: 26s;
  left: 34vw;
  top: 76vh;
  border-color: #0046d4;
}
.background li:nth-child(16) {
  animation-delay: 28s;
  left: 17vw;
  top: 72vh;
}
.background li:nth-child(17) {
  animation-delay: 34s;
  left: 56vw;
  top: 27vh;
  border-color: #0046d4;
}
.background li:nth-child(18) {
  animation-delay: 36s;
  left: 85vw;
  top: 72vh;
  border-color: #0046d4;
}
.background li:nth-child(19) {
  animation-delay: 38s;
  left: 69vw;
  top: 23vh;
  border-color: #0046d4;
}
.background li:nth-child(20) {
  animation-delay: 40s;
  left: 7vw;
  top: 12vh;
}
.background li:nth-child(21) {
  animation-delay: 42s;
  left: 38vw;
  top: 98vh;
}
.background li:nth-child(22) {
  animation-delay: 44s;
  left: 29vw;
  top: 95vh;
  border-color: #0046d4;
}
.background li:nth-child(23) {
  animation-delay: 46s;
  left: 84vw;
  top: 34vh;
}
.background li:nth-child(24) {
  animation-delay: 48s;
  left: 72vw;
  top: 51vh;
}
.background li:nth-child(25) {
  animation-delay: 50s;
  left: 87vw;
  top: 0vh;
}
.background li:nth-child(26) {
  animation-delay: 52s;
  left: 72vw;
  top: 19vh;
}
.background li:nth-child(27) {
  animation-delay: 54s;
  left: 13vw;
  top: 20vh;
  border-color: #0046d4;
}
.background li:nth-child(28) {
  animation-delay: 56s;
  left: 67vw;
  top: 3vh;
}
.background li:nth-child(29) {
  animation-delay: 58s;
  left: 53vw;
  top: 8vh;
  border-color: #0046d4;
}
.background li:nth-child(30) {
  animation-delay: 60s;
  left: 60vw;
  top: 38vh;
}
.background li:nth-child(31) {
  animation-delay: 62s;
  left: 75vw;
  top: 60vh;
}
.background li:nth-child(32) {
  animation-delay: 64s;
  left: 26vw;
  top: 49vh;
  border-color: #0046d4;
}
.background li:nth-child(33) {
  animation-delay: 66s;
  left: 30vw;
  top: 94vh;
}
.background li:nth-child(34) {
  animation-delay: 68s;
  left: 51vw;
  top: 82vh;
}
.background li:nth-child(35) {
  animation-delay: 70s;
  left: 47vw;
  top: 29vh;
}
.background li:nth-child(36) {
  animation-delay: 72s;
  left: 18vw;
  top: 78vh;
  border-color: #0046d4;
}
.background li:nth-child(37) {
  animation-delay: 74s;
  left: 23vw;
  top: 58vh;
  border-color: #0046d4;
}
.background li:nth-child(38) {
  animation-delay: 76s;
  left: 49vw;
  top: 32vh;
  border-color: #0046d4;
}
.background li:nth-child(39) {
  animation-delay: 78s;
  left: 95vw;
  top: 11vh;
  border-color: #0046d4;
}

/* Includes some default style for the starter application.
 * This can be safely deleted to start fresh.
 */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
