<main class="main h-3/5 pt-80 flex flex-col items-center">
  <p class="alert alert-info" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>

<ul class="background">
<%= for _ <- 1..40 do %>
   <li></li>
<% end %>
</ul>