<h1>Stats</h1>

<ul>
  <li>
    <strong>Slug:</strong>
    <%= @link.slug %>
  </li>

  <li>
    <strong>Url:</strong>
    <%= @link.url %>
  </li>

  <li>
    <strong>Visits:</strong>
    <%= @link.visits %>
  </li>
</ul>
